.nav {
  background-color: $color_green;
  display: flex;
  display: wrap;

  & .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  & a {
    color: $color_light;
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 15px 25px;
    transform: 0.3s ease all;
    font-size: 1.8rem;

    &.active,
    &:hover {
      background-color: $color_light_green;
    }
  }
}
