// Colors
.bg-light {
  background-color: $color_light;
}

.bg-dark {
  background-color: $color_dark;
}

.bg-green {
  background-color: $color_green;
}

.bg-light-green {
  background-color: $color_light_green;
}

.bg-dark-green {
  background-color: $color_dark_green;
}

.bg-blue {
  background-color: $color_blue;
}

.bg-light-blue {
  background-color: $color_light_blue;
}

.bg-dark-blue {
  background-color: $color_dark_blue;
}

.bg-red {
  background-color: $color_red;
}

.bg-light-red {
  background-color: $color_light_red;
}

.bg-dark-red {
  background-color: $color_dark_red;
}

.bg-yellow {
  background-color: $color_yellow;
}

.bg-light-yellow {
  background-color: $color_light_yellow;
}

.bg-dark-yellow {
  background-color: $color_dark_yellow;
}
