// Colors
.color-light {
  color: $color_light;
}

.color-dark {
  color: $color_dark;
}

.color-green {
  color: $color_green;
}

.color-light-green {
  color: $color_light_green;
}

.color-dark-green {
  color: $color_dark_green;
}

.color-blue {
  color: $color_blue;
}

.color-light-blue {
  color: $color_light_blue;
}

.color-dark-blue {
  color: $color_dark_blue;
}

.color-red {
  color: $color_red;
}

.color-light-red {
  color: $color_light_red;
}

.color-dark-red {
  color: $color_dark_red;
}

.color-yellow {
  color: $color_yellow;
}

.color-light-yellow {
  color: $color_light_yellow;
}

.color-dark-yellow {
  color: $color_dark_yellow;
}
