$container_width: 70vw;

$font: "Roboto", sans-serif;

$color_light: #f2efeb;
$color_dark: #261501;

$color_green: #0fd9a4;
$color_light_green: #53dfba;
$color_dark_green: #21594a;

$color_blue: #049dd9;
$color_light_blue: #47b4df;
$color_dark_blue: #1d4859;

$color_red: #d9471a;
$color_light_red: #df7c5e;
$color_dark_red: #593225;

$color_yellow: #d9a81a;
$color_light_yellow: #dfbf5e;
$color_dark_yellow: #594c25;
