@charset 'utf-8';

// Themes
@import "./themes/default.scss";

// Abstracts
@import "./abstracts/variables";
@import "./abstracts/helpers";

// Base stuff
@import "./base/fonts";
@import "./base/reset";

// Components
@import "./components/button";
@import "./components/card";
@import "./components/form";
@import "./components/nav";
@import "./components/typography";

// Layout
@import "./layout/container";
@import "./layout/layout";

// Utilities
@import "./utilities/color";
@import "./utilities/bg-colors";

/* General Styles */
body {
  color: $color_dark;
  background-color: $color_light;
  font-family: $font;
  font-size: 1.8rem;
}

p {
  line-height: 27px;
}

img {
  vertical-align: top;
  width: 100%;
}
